@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-md-price-EUR:before {
  content: "\e9d6";
}
.icon-md-price-UK:before {
  content: "\e9d7";
}
.icon-md-price-US:before {
  content: "\e9d8";
}
.icon-md-logout-2:before {
  content: "\e9d9";
}
.icon-md-help:before {
  content: "\e9da";
}
.icon-md-myteams .path1:before {
  content: "\e9db";
  color: rgb(35, 31, 32);
}
.icon-md-myteams .path2:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-myteams .path3:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-myteams .path4:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-myteams .path5:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-myteams .path6:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-myteams .path7:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-md-blog:before {
  content: "\e9e2";
}
.icon-md-features:before {
  content: "\e9e3";
}
.icon-lr-3D-alt:before {
  content: "\e900";
}
.icon-lr-3D:before {
  content: "\e901";
}
.icon-lr-audience:before {
  content: "\e902";
}
.icon-lr-calendar:before {
  content: "\e903";
}
.icon-lr-camera:before {
  content: "\e904";
}
.icon-lr-chart:before {
  content: "\e905";
}
.icon-lr-connect:before {
  content: "\e906";
}
.icon-lr-cross:before {
  content: "\e907";
}
.icon-lr-datatable:before {
  content: "\e908";
}
.icon-lr-editor:before {
  content: "\e909";
}
.icon-lr-report:before {
  content: "\e90a";
}
.icon-lr-tick:before {
  content: "\e90b";
}
.icon-lr-user:before {
  content: "\e90c";
}
.icon-lr-wordpress:before {
  content: "\e90d";
}
.icon-md-3d:before {
  content: "\e90e";
}
.icon-md-add-barchart:before {
  content: "\e90f";
}
.icon-md-add-new .path1:before {
  content: "\e910";
  color: rgb(35, 31, 32);
}
.icon-md-add-new .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-add-new .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-md-add-photo:before {
  content: "\e913";
}
.icon-md-add-piechart:before {
  content: "\e914";
}
.icon-md-add:before {
  content: "\e915";
}
.icon-md-adjust:before {
  content: "\e916";
}
.icon-md-advanced:before {
  content: "\e917";
}
.icon-md-agile:before {
  content: "\e918";
}
.icon-md-all .path1:before {
  content: "\e919";
  color: rgb(0, 0, 0);
}
.icon-md-all .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-all .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-all .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-all .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-all .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-all .path7:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-analysis:before {
  content: "\e920";
}
.icon-md-archive-1 .path1:before {
  content: "\e921";
  color: rgb(0, 0, 0);
}
.icon-md-archive-1 .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(18, 16, 11);
}
.icon-md-archive-1 .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(18, 16, 11);
}
.icon-md-archive-2 .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
}
.icon-md-archive-2 .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(18, 16, 11);
}
.icon-md-archive-2 .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(18, 16, 11);
}
.icon-md-archive-3:before {
  content: "\e927";
}
.icon-md-archive-un .path1:before {
  content: "\e928";
  color: rgb(0, 0, 0);
}
.icon-md-archive-un .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-md-archive-un .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-md-archive-un .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-md-archive:before {
  content: "\e92c";
}
.icon-md-bell1:before {
  content: "\e92d";
}
.icon-md-bell2:before {
  content: "\e92e";
}
.icon-md-brain2:before {
  content: "\e92f";
}
.icon-md-breadcrumbs-down:before {
  content: "\e930";
}
.icon-md-breadcrumbs-left:before {
  content: "\e931";
}
.icon-md-breadcrumbs-right:before {
  content: "\e932";
}
.icon-md-breadcrumbs-up:before {
  content: "\e933";
}
.icon-md-burndown:before {
  content: "\e934";
}
.icon-md-calendar1:before {
  content: "\e935";
}
.icon-md-cancel:before {
  content: "\e936";
}
.icon-md-chat-outline:before {
  content: "\e937";
}
.icon-md-clock:before {
  content: "\e938";
}
.icon-md-cog:before {
  content: "\e939";
}
.icon-md-colour:before {
  content: "\e93a";
}
.icon-md-comment-add:before {
  content: "\e93b";
}
.icon-md-comment-from:before {
  content: "\e93c";
}
.icon-md-comment-note:before {
  content: "\e93d";
}
.icon-md-comment-reply:before {
  content: "\e93e";
}
.icon-md-comment:before {
  content: "\e93f";
}
.icon-md-commentator:before {
  content: "\e940";
}
.icon-md-comments-head:before {
  content: "\e941";
}
.icon-md-comments-intro:before {
  content: "\e942";
}
.icon-md-comments .path1:before {
  content: "\e943";
  color: rgb(0, 0, 0);
}
.icon-md-comments .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-comments .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-contributor:before {
  content: "\e946";
}
.icon-md-custom-data:before {
  content: "\e947";
}
.icon-md-custom-table:before {
  content: "\e948";
}
.icon-md-data .path1:before {
  content: "\e949";
  color: rgb(0, 0, 0);
}
.icon-md-data .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path3:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path4:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path5:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path6:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path7:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path8:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path9:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-data .path10:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-delete:before {
  content: "\e953";
}
.icon-md-delete2:before {
  content: "\e954";
}
.icon-md-display .path1:before {
  content: "\e955";
  color: rgb(0, 0, 0);
}
.icon-md-display .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-display .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-display .path4:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-doc:before {
  content: "\e959";
}
.icon-md-drag-image:before {
  content: "\e95a";
}
.icon-md-edit-refresh .path1:before {
  content: "\e95b";
  color: rgb(0, 0, 0);
}
.icon-md-edit-refresh .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(2, 2, 3);
}
.icon-md-edit:before {
  content: "\e95d";
}
.icon-md-editor1:before {
  content: "\e95e";
}
.icon-md-emoji:before {
  content: "\e95f";
}
.icon-md-export:before {
  content: "\e960";
}
.icon-md-feedback:before {
  content: "\e961";
}
.icon-md-file:before {
  content: "\e962";
}
.icon-md-filter:before {
  content: "\e963";
}
.icon-md-hashtag:before {
  content: "\e964";
}
.icon-md-heart-1:before {
  content: "\e965";
}
.icon-md-heart-2:before {
  content: "\e966";
}
.icon-md-here:before {
  content: "\e967";
}
.icon-md-home:before {
  content: "\e968";
}
.icon-md-info:before {
  content: "\e969";
}
.icon-md-invite:before {
  content: "\e96a";
}
.icon-md-lock:before {
  content: "\e96b";
}
.icon-md-login:before {
  content: "\e96c";
}
.icon-md-logout:before {
  content: "\e96d";
}
.icon-md-mail:before {
  content: "\e96e";
}
.icon-md-map:before {
  content: "\e96f";
}
.icon-md-media:before {
  content: "\e970";
}
.icon-md-milestone:before {
  content: "\e971";
}
.icon-md-more-info:before {
  content: "\e972";
}
.icon-md-more:before {
  content: "\e973";
}
.icon-md-move-bottom:before {
  content: "\e974";
}
.icon-md-move-down:before {
  content: "\e975";
}
.icon-md-move-east:before {
  content: "\e976";
}
.icon-md-move-left:before {
  content: "\e977";
}
.icon-md-move-right:before {
  content: "\e978";
}
.icon-md-move-top:before {
  content: "\e979";
}
.icon-md-move-up:before {
  content: "\e97a";
}
.icon-md-move-west:before {
  content: "\e97b";
}
.icon-md-move:before {
  content: "\e97c";
}
.icon-md-my-tasks:before {
  content: "\e97d";
}
.icon-md-next:before {
  content: "\e97e";
}
.icon-md-no-file:before {
  content: "\e97f";
}
.icon-md-node-collapse:before {
  content: "\e980";
}
.icon-md-node-expand:before {
  content: "\e981";
}
.icon-md-ok:before {
  content: "\e982";
}
.icon-md-open-file:before {
  content: "\e983";
}
.icon-md-paperclip:before {
  content: "\e984";
}
.icon-md-payment:before {
  content: "\e985";
}
.icon-md-phone:before {
  content: "\e986";
}
.icon-md-pin:before {
  content: "\e987";
}
.icon-md-plan:before {
  content: "\e988";
}
.icon-md-previous:before {
  content: "\e989";
}
.icon-md-redo:before {
  content: "\e98a";
}
.icon-md-refresh:before {
  content: "\e98b";
}
.icon-md-save:before {
  content: "\e98c";
}
.icon-md-search:before {
  content: "\e98d";
}
.icon-md-select-arrow-left:before {
  content: "\e98e";
}
.icon-md-select-arrow-right:before {
  content: "\e98f";
}
.icon-md-select-arrow-up:before {
  content: "\e990";
}
.icon-md-select-arrow:before {
  content: "\e991";
}
.icon-md-send:before {
  content: "\e992";
}
.icon-md-share:before {
  content: "\e993";
}
.icon-md-share2:before {
  content: "\e994";
}
.icon-md-share2b:before {
  content: "\e995";
}
.icon-md-slack:before {
  content: "\e996";
}
.icon-md-slack2:before {
  content: "\e997";
}
.icon-md-sm-facebook:before {
  content: "\e998";
}
.icon-md-sm-google-analytics:before {
  content: "\e999";
}
.icon-md-sm-google:before {
  content: "\e99a";
}
.icon-md-sm-instagram:before {
  content: "\e99b";
}
.icon-md-sm-linkedin:before {
  content: "\e99c";
}
.icon-md-sm-pinterest:before {
  content: "\e99d";
}
.icon-md-sm-twitter:before {
  content: "\e99e";
}
.icon-md-sm-youtube:before {
  content: "\e99f";
}
.icon-md-sort:before {
  content: "\e9a0";
}
.icon-md-sprint:before {
  content: "\e9a1";
}
.icon-md-star:before {
  content: "\e9a2";
}
.icon-md-status:before {
  content: "\e9a3";
}
.icon-md-sub-doodle:before {
  content: "\e9a4";
}
.icon-md-sub-idea:before {
  content: "\e9a5";
}
.icon-md-SWOT:before {
  content: "\e9a6";
}
.icon-md-table:before {
  content: "\e9a7";
}
.icon-md-tables-intro:before {
  content: "\e9a8";
}
.icon-md-task .path1:before {
  content: "\e9a9";
  color: rgb(2, 2, 2);
}
.icon-md-task .path2:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-md-task .path3:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-md-task .path4:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-md-team .path1:before {
  content: "\e9ad";
  color: rgb(0, 0, 0);
}
.icon-md-team .path2:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-team .path3:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-team .path4:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-team .path5:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-team .path6:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-team .path7:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-md-text:before {
  content: "\e9b4";
}
.icon-md-tools:before {
  content: "\e9b5";
}
.icon-md-tree:before {
  content: "\e9b6";
}
.icon-md-undo:before {
  content: "\e9b7";
}
.icon-md-updown:before {
  content: "\e9b8";
}
.icon-md-user1:before {
  content: "\e9b9";
}
.icon-md-users:before {
  content: "\e9ba";
}
.icon-md-view:before {
  content: "\e9bb";
}
.icon-md-whirl:before {
  content: "\e9bc";
}
.icon-md-word .path1:before {
  content: "\e9bd";
  color: rgb(0, 0, 0);
}
.icon-md-word .path2:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-word .path3:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-word .path4:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-word .path5:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(26, 26, 26);
}
.icon-md-zoom-centre:before {
  content: "\e9c2";
}
.icon-md-zoom-in:before {
  content: "\e9c3";
}
.icon-md-zoom-out:before {
  content: "\e9c4";
}
.icon-md-zoom:before {
  content: "\e9c5";
}
.icon-md-text-edit-icon-allign-centre:before {
  content: "\e9c6";
}
.icon-md-text-edit-icon-allign-justify:before {
  content: "\e9c7";
}
.icon-md-text-edit-icon-allign-left:before {
  content: "\e9c8";
}
.icon-md-text-edit-icon-allign-right:before {
  content: "\e9c9";
}
.icon-md-text-edit-icon-bg-color:before {
  content: "\e9ca";
}
.icon-md-text-edit-icon-bold:before {
  content: "\e9cb";
}
.icon-md-text-edit-icon-chart:before {
  content: "\e9cc";
}
.icon-md-text-edit-icon-image:before {
  content: "\e9cd";
}
.icon-md-text-edit-icon-italic:before {
  content: "\e9ce";
}
.icon-md-text-edit-icon-link:before {
  content: "\e9cf";
}
.icon-md-text-edit-icon-textcolour .path1:before {
  content: "\e9d0";
  color: rgb(255, 29, 37);
}
.icon-md-text-edit-icon-textcolour .path2:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-md-text-edit-icon-textsize:before {
  content: "\e9d2";
}
.icon-md-text-edit-icon-underline .path1:before {
  content: "\e9d3";
  color: rgb(0, 0, 0);
}
.icon-md-text-edit-icon-underline .path2:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-md-text-edit-icon-underline .path3:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
